---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import { Form } from "../components/Form";
---

<Layout title="Welcome to Astro.">
  <main>
    <Form client:idle />
  </main>
</Layout>
